#product-form-container {
    .product-form {
        position: relative;
        overflow: hidden;
        .delete-product-btn {
            position: absolute;
            right:15px;
            top: 7px;
        }
    }
    .form-control {
        margin: 10px;
        min-width: 120px;
        width: 100%;
    }
    .chips {
        display: flex;
        flex-wrap: wrap;
    }
    .product-tag {
        margin: 2px;
    } 
    .product-tag {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .add-tag {
        padding: 15px 10px ;
        text-align: center;
    }

    #auto-complete-panel {
        position: relative;
        overflow: hidden;
    }
    #auto-complete-loading , #product-image-loading {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}