#product-form-container {
    .form-control {
        margin: 10px;
        min-width: 120px;
        width: 100%;
    }
    .chips {
        display: flex;
        flex-wrap: wrap;
    }
    .product-tag {
        margin: 2px;
    } 
    .product-tag {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .add-tag {
        padding: 15px 10px ;
        text-align: center;
    }
}