.dialog-upload-images {
    .hide-default-upload {
        display: none;
    }
    .btn-icon {
        margin-left: 10px;
    }
    .header-icons {
        text-align: center;
    }
}

.dialog-upload-cover {

    direction: ltr !important;

    .modal-app-bar {
        position: 'relative';
    }

    .modal-btn-save {
        right: 25px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }
    .modal-btn-close {
        z-index: 6666;
    }
    .dialog-upload-form {
        padding-top: 85px;
        text-align: center;
        > div{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .upload-button{
                min-width: 200px;
                height: 50px;
                svg{
                    margin-left:10px;
                }
            }
        }
    }
    


    .modal-btn-container {
        position: absolute;
        left: 70px;
    }

    .modal-btn-remove {
        margin: auto;
        color: $primary !important;
        border: 1px solid $primary !important;
        
    }
}

.dialog-crop-form {
    position: relative;
    .btn-remove-image {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 100%;
        background-color: red;
        color: white;
        width: 60px;
        height: 60px;
        display: block;
        line-height: 60px;
    }

}

.hide-default-upload {
    display: none;
}

#profile-page{

    #header{
        margin-bottom : 0;
    }

    #shop-header-container.shop-header {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 80px;
        padding: 0;
        position: relative;
        
        .profile-cover-image{
            width: 100%;
            position: relative;
        
            img {
                max-width: 100%;
                display: block;
                margin: 0 auto;
            }
           
            &:hover {
                .edit-upload-cover {
                    opacity: 1;
                }
            }

            .edit-cover-button {
                color: #ffffff;
                border-color: white;
                padding: 10px 15px;
                background: rgba(0, 0, 0, 0.25);
            }

            .edit-upload-cover {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(black, .4);
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                text-align: center;
                line-height: 1;
                cursor: pointer;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .image-bl {
            background-repeat: no-repeat;
            background-size: cover;
            background-position:   center;
            height: 270px;
            background-color: rgba(206, 199, 176, 0.38);
            img {
                display: none;
            }
        }

        .shop-brand {
            width: 200px;
            height: 200px;
            // position: absolute;
            background-color: rgb(232, 228, 212);
            bottom:-50px;
            left: 50px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: top center;
            border-radius: 9px;
            border: 2px solid white;
            box-shadow: 0px 0px 2px 1px #635e5e;
            overflow: hidden;
            &:hover {
                .shop-brand-edit {
                    opacity: 1;
                }
            }
            
            .shop-brand-edit {
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left:0;
                background-color:rgba(black,.4);
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
                color:white;
                text-align:center;
                line-height: 1;
                cursor: pointer;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }

    .hide-default-upload {
        display: none;
    }
    
    .site-container {
        background-color: red;
        //width: 100%;
        max-width: 1200px;
    }
    #submit-change-password{
        float: right;
        @include arabsettings();
    }
    #success-password-change{
        color: $success;
        font-size: 15px;
        font-style: italic;
        font-weight: 500;
        padding: 10px 0;
        clear: both;
        @include arabsettings();
    }
    #container{
        max-width: 600px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .user {
        h4 {
            @include arabsettings();
        }
    }
    .container-inner{
        padding: 20px;
        margin-bottom : 30px;
        
        &.shop, &.authorizations, &.shop-categories{
            margin-bottom: 40px;
            span {
                @include arabsettings();
            }
        }
        &.shop-categories{
            li span{
                direction: ltr !important;
                font-size: 15px;
            }
        }
        h3{
            font-weight: 500;
            margin-bottom: 30px;
            @include arabsettings();
        }
        form{
            @include clearfix();
            #change-password{
                float: right;
                margin-top: 10px;
                @include arabsettings();
            }
            input:disabled{
                cursor: not-allowed;
            }
            
            h4{
                margin-bottom: 10px;
                @include arabsettings();
            }
        }
        
    }

    #profile-loading{
        position: absolute;
        top : 70%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-style: italic;
        text-align: center;
    }

    #email-not-valid{
        color: $danger;
        font-style: italic;
        display: block;
    }

    #helper-text{
        clear: both;
        font-size: 13px;
        font-style: italic;
        color: #ff2f00;
        @include arabsettings();
    }

    #change-password-panel {
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 60px;
    }

}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    padding: 0 15px;
    background: white;
}
@media screen and (max-width : 680px){
    #profile-page #shop-header-container.shop-header{
        margin-bottom: 40px;
    }

    #profile-page #shop-header-container.shop-header .shop-brand{
        width: 100px;
        height: 100px;
        bottom: -20px;
        left: 20px;
        .shop-brand-edit {
            opacity: 1 !important;
        }
    }

    #profile-page #shop-header-container.shop-header .profile-cover-image .edit-upload-cover label {
        width: 100%;
        text-align: right;
        padding: 0 10px;
    }

    #profile-page #shop-header-container.shop-header .profile-cover-image .edit-upload-cover{
        opacity: 1 !important;
        padding-top: 12px;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0);
        label {
            width: 100%;
        }
    }
    #profile-page #shop-header-container.shop-header .profile-cover-image .edit-cover-button{
        background: rgba(0, 0, 0, 0.54);
    }
}

@media screen and (max-width : 480px){
  
    #profile-page .container-inner form h4{
        font-size: 21px;
    }
    #profile-page #shop-header-container.shop-header .image-bl{
        height: 180px;
    }

    .dialog-upload-cover .modal-btn-save {
        right: 16px;
    }
   
    #validation-code-page .container-inner .action-box #response-msg {
        float: none;
        display: block;
        clear: both;
        padding-bottom: 15px;
        margin: 0;
        text-align: center;
    }
    
}