#add-product-page {
    .product-form {
        padding: 15px;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 200px;
        }
    }

    .paper-divider {
        margin: 15px 0 30px;
    }

}


.product-gallery {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    li {
        display: block;
        width: (100 / 3) * 1%;
        padding: 10px;
    }
    img {
        max-width: 100%;
    }
}
.product-image {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #3f51b5;
    text-align: center;
    height: 100%;
    position: relative;
    .remove-image {
        color:#d35400;
        position: absolute;
        right:0;
        top:0;
        cursor: pointer;
        opacity: 0.3;
        transition: .3s all;
    }
    img {
        width: 100%;
    }
    &:hover {
        .remove-image {
            opacity: 1;
        }
    }
}

.product-tag {
    margin-right: 5px;
    margin-bottom: 5px;
}
.add-tag {
    padding: 15px 10px ;
}
.feathured-image {
    width: 200px;
    height: 200px;
    margin:0 auto 25px;

}
.upload-image-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    span {
        cursor: pointer;
        &:hover {
            color:red;
        }
    }
}

.Mui-focused fieldset legend{
    margin-left: 10px;
}




.default-input {
    width: 100%;
    padding:15px; 
    border:1px solid red;
}

.default-wysiwyg {
    width: 100%;
}


     label.Mui-focused{
      color: 'green',
    } 
     .MuiInput-underline:after{
      border-bottom-color: 'green',
    } 
     .MuiOutlinedInput-root{
       fieldset{
        border-color: 'red',
      } 
      :hover fieldset{
        border-color: 'yellow',
      } 
      .Mui-focused fieldset{
        border-color: 'green',
      } 
    } 
// Common styles

// End Common styles
#products-list{
    -ms-box-orient: horizontal;
    display: flex;
    //justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 0 10px 10px;
    margin-bottom: 10px;
    &.few-products{
        .product{
            max-width: 200px;
        }
    }
    .product{
        background: white;
        width: 200px;
        max-width: 300px;
        padding: 10px;
        margin: 2px;
        text-align: center;
        position: relative;
        flex-grow: 1;
        &.checked{
            opacity: .7;
            .thumbnail{
                filter: grayscale(.7);
            }
            &.checkable:before{
                border-color: $secondary;
                transition: .2s border-color ease-out;
            }
        }
        &.checkable{
            cursor: pointer;
            &:after{
                display: none;
            }
            &:before{
                content: "";
                border: 2px solid rgba($gray, .3);
                transition: .2s border-color ease-out;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
            
            &:hover:before{
                border-color: $secondary;
                transition: .2s border-color ease-out;
            }
        }
        .thumbnail{
            display: block;
            position: relative;
            width: 100%;
            margin : 0 auto 10px;
            overflow: hidden;
            // height: 250px;
            &.visual-loaded{
                &:after{
                    display: none;
                    animation : none;
                }
                &:before{
                    display: none;
                }
            }
            .visual{
                // position: absolute;
                width: 100%;
                // left: 0;
                // right: 0;
                margin: 0 auto;
                z-index: 2;
                font-size: 12px;
                
            }
            .mold{
                width: 100%;
                display: block;
                margin: 0 auto;
                
            }
            // &:before{
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     right: 0;
            //     bottom: 0;
            //     background: #eee;
            //     z-index: 0;
            // }
            // &:after{
            //     content : '';
            //     position : absolute;
            //     top: 0;
            //     left: 0;
            //     bottom: 0;
            //     right: 0;
            //     background : linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(187, 187, 187, 0.34), rgba(0, 0, 0, 0));
            //     transform : translateX(-100%);
            //     animation : loading 1.5s infinite;
            // }
        }
        .title{
            font-size: 12px;
            font-weight: 500;
            text-align: left;
            line-height: 15px;
        }
       
        .check-icon{
            position: absolute;
            top: 5px;
            right: 5px;
        }
        
    }

    
}



#products-bar{
    text-align: right;
    background: white;
    padding : 10px 0;
    margin : 0 10px 30px;
    .wrapper{
        @include clearfix();
    }
    #multiple-selection{
        float: right;
    }
    #duplicate-products{
        float: right;
        margin-right: 20px;
    }
}

#categories-layer-wrapper{
    position : relative;
}

#search-loader{
    svg{
        color: $primary;
    }
    position: absolute;
    top: 15px;
    right: 16px;
}
#search-not-found{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    transform: translateY(-50%)
}
#loading-categories{
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-style: italic;
    font-size: 14px;
    width: 100%;
    padding: 0 10px;
}

#categories-select{
    min-width: 250px;
    max-width: 30%;
    width: 100% !important;
    float: left;
    .count{
        font-size: 12px;
        color: #908e8e;
        display: inline-block;
    }
}

#menu-categories{
    min-height: 280px;
    background: white;
    position: relative;
    height: 280px;
    li{
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        svg{
            display: none;
        }
        &:hover{
            background: $gray-light;
        }
        &.lvl1{
            color: $secondary !important;
            font-weight: 500;
        }
        &.lvl2{
            padding-left: 40px !important;
            color: $gray-dark;
            font-weight: 500;
        }
        &.lvl3{
            padding-left: 60px !important;
            color: $gray;
            font-weight: 400;
        }
        &.current{
            background: #e0dfdc;
            color : $black;
            svg{
                position: absolute;
                top: 0;
                right: 10px;
                bottom: 0;
                margin: auto;
                display: block;
            }
        }
        .count{
            font-size: 12px;
            margin-left: 4px;
            font-weight: 400;
            display: inline-block;
        }
    }
    
}

#categories-layer{
    div:last-child {
        height: 85%;
    }
}



#kibo-products-page{

    #header{
        margin-bottom: 0;
    }

    .rc-pagination {
        margin-bottom: 10px;
    }
    #products-list{
        margin-bottom: 0;
        padding-bottom: 10px;
        + .rc-pagination {
            padding-bottom: 60px;
        }
    }
    #products-list-label{
        font-style: italic;
        font-size: 13px;
        padding: 1px 10px;
        background: $primary;
        text-align: center;
        color: #111;
        position: sticky;
        top: 60px;
        overflow: hidden;
        @include arabsettings(false,true);
        z-index: 10;
        &:after{
            content : '';
            position : absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background : linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 152, 0, 0.58), rgba(0, 0, 0, 0));
            transform : translateX(-100%);
            animation : loading 1.5s infinite;
        }
    }

    #container{
        position: relative;
        padding: 17px 0 0;
    }

    #list-actions{
        text-align: right;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        button {
            width: 100%;
            border-radius: 0;
            padding: 15px 10px
        }
        > span{
            display: block;
        }
    }

    #no-kibo-products{
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        font-style: italic;
        text-align: center;
        padding: 0 20px;
    }

    #kibo-products-loading{
        position: absolute;
        top : 50%;
        left: 0;
        right: 0;
        padding: 0 10px;
        transform: translateY(-50%);
        font-style: italic;
        text-align: center;
    }
    
    #categories-select{
        text-align: left;
    }

    #selected-category{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        text-transform: uppercase;
        line-height: 19px;
        padding: 0 10px;
        small{
            display: inline-block;
            margin-left: 5px;
            font-size: 14px;
            color: $gray;
            vertical-align: middle;
            position: relative;
            top: -1px;
        }
    }
}



@keyframes loading{
    from {
        transform : translateX(-100%)
    }
    to {
        transform : translateX(100%)
    }
}
  


@media screen and (max-width : 1024px){
    #products-list{
        .product{
            width: 170px;
        }
        &.few-products{
            .product{
                max-width: 170px;
            }
        }
    } 
}

@media screen and (max-width : 768px){
    #products-list .product.checkable:hover:before{
        border-color:rgba(96, 96, 96, 0.3);
    }
}

@media screen and (max-width : 715px){
    #products-list {
        &.few-products{
            .product{
                max-width: 150px;
            }
        }
        .product{
            width: 150px;
        }
    }
}


@media screen and (max-width : 680px){
    #kibo-products-page #products-list-label{
        top : 54px;
    }
}


@media screen and (max-width : 480px){

    #products-list{
        padding: 0 5px;
    }

    #kibo-products-page #list-actions button{
        padding: 10px;
    }

    #search-loader {
        top: 12px;
        right: 10px;
    }

    #kibo-products-page #selected-category{
        font-size: 16px;
    }

    #kibo-products-page #selected-category small{
        font-size: 12px;
    }
    
}
@media screen and (max-width : 380px){
    #products-list {
        
        &.few-products{
            .product{
                max-width: 146px;
            }
        }
        .product{
            width: 146px;
        }
    }
}

#user-products-page {

    .rc-pagination{
        margin-bottom: 53px;
    }

    #shop-products-count{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        text-transform: uppercase;
        padding: 0 10px;
        line-height: 19px;
        small{
            display: inline-block;
            margin-left: 5px;
            color: $secondary;
            vertical-align: middle;
            position: relative;
            top: -3px;
        }
    }

    #filter-box{
        margin-bottom: 20px;
        @include clearfix();
        .filter, .per-page{
            display : block;
            float: right;
            margin-left: 20px;
            [role="button"]{
                padding-top: 13px;
                padding-bottom: 13px;
            }
        }
        & + .rc-pagination {
            margin-bottom: 10px;
        }
    }
    #add-products{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 15px 5px;
        background: $primary;
        color: $black;
        width: 100%;
        border-radius: 0;
        // FIX BUG IN IOS
        overflow-x: hidden; 
        overflow-y: auto; 
        transform: translate3d(0,0,0);
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
    }
    #products-list{
        .product{
            cursor: pointer;
            .edit-btn {
                position: absolute;
                z-index: 5;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                padding: 11px 10px;
                border: 1px solid #333;
                margin: auto;
                height: 38px;
                width: 92px;
                border-radius: 4px;
                background: rgba(white, .7);
                transition: .2s opacity ease-out;
                opacity: 0;
                @include arabsettings(false);
            }
            &:hover{
                .edit-btn {
                    opacity: 1;
                }
            }
            .extra-fields-label{
                position: absolute;
                top: 11px;
                left: 11px;
                color: black;
                z-index: 3;
                font-size: 11px;
                padding: 3px 5px;
                border-radius: 14px;
                font-weight: bold;
                .bargain-icon{
                    display: block;
                    background: rgba($primary, 0.75);
                    color: black;
                    z-index: 3;
                    font-size: 11px;
                    padding: 3px 5px;
                    border-radius: 14px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .fake-icon{
                    display: block;
                    background: rgba($secondary, 0.6);
                    color: black;
                    z-index: 3;
                    font-size: 11px;
                    padding: 3px 5px;
                    border-radius: 14px;
                    font-weight: bold;
                }
            }
            
            .private-icon{
                position: absolute;
                top: 11px;
                right: 11px;
                position: absolute;
                background: rgba(red, 0.9);
                color: white;
                z-index: 3;
                font-size: 11px;
                padding: 3px 5px;
                border-radius: 14px;
                font-weight: bold;
            }
            .details{
                overflow: hidden;
                padding-top: 10px;
                text-align: right;
                display: block;
                &.in-promo{
                    .price{
                        &.regular{
                            text-decoration: line-through;
                            opacity: .5;
                            font-weight: normal
                        }
                        &.promo{
                            margin-left: 10px;
                            display: inline-block;
                            text-decoration: none;
                        }
                    }
                    
                }
                .price{
                    font-weight: 700;
                    font-size: 15px;
                    // color: $secondary;
                    display: inline-block;
                    small{
                        font-size: 14px;
                        margin-left: -2px;
                    }
                }
            }
        }
    }

    #no-user-products{
        position: absolute;
        top : 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-style: italic;
        text-align: center;
        width: 100%;
    }
}

#edit-product{

    // > div:last-child{
    //     transform: none !important; // FIX POSITION FIXED
    // }

    .edit-product-inner{
        position: relative;
        // width: 300px;
        width: 100%;
        padding: 40px 20px 20px;
        &.short-desc-showen{
            height: 100%;
            overflow : hidden;
            #short-description{
                height : calc(100vh - 250px)
            }
            .visual img{
                width: auto;
                height: 130px;
            }
            #edit-product-loader{
                > div {
                    background: white;
                }
            }
        }
        #edit-product-loader{
            position: fixed;
            top: 7px;
            right: 6px;
            background: rgba(255, 255, 255, 0.788235294117647);
            border-radius: 50%;
            padding: 3px;
        }
        .visual{
            margin: 0 auto 20px;
            text-align: center;
            position: relative;
            max-width: 320px;
            .product-page-link{
                position: absolute;
                bottom : -10px;
                left: -10px;
                cursor: pointer;
                svg{
                    font-size: 25px;
                }
                // display: none;
            }
            img{
                width: 80%;
                display: inline-block;
            }
            &:hover{
                .product-page-link{
                    display: block;
                }
            }
        } 
        #status, #fake, #bargain{
            @include clearfix();
            label{
                float: left;
                line-height: 47px;
                font-style: italic;
                font-weight: 600;
                @include arabsettings(false);
            }
            .switch{
                float: right;
            }
        }
        .title{
            width : 100%;
        }


        .price-box{
            overflow: hidden;
            margin-bottom: 20px;
            > label{
                float: left;
                line-height: 22px;
                font-size: 13px;
                color : $gray;
                font-weight: 600;
            }

            .regular-price{
                width: 100%
            }
        }

       
    }
    #short-description{
        margin : 10px 0 20px;
        display: block;
        
        button{
            font-size : 13px;
            padding: 11px 10px 10px;
            width: 100%;
        }
        
        .rdw-editor-wrapper{
            margin-top: 15px;
            width: 299px;
            border: 1px solid #ddd;
            background: #eee;
            position: relative;
            height: 100%;
            left: -20px;
            .rdw-editor-main{
                padding: 0 10px;
                color: #222;
            }
            
            .rdw-option-wrapper{
                border : 1px solid #d6d6d6;
                padding: 8px;
                height: 28px;
                &.rdw-option-active{
                    border-color: #3F51B5;
                }
            }
        }
        
        #edit-short-description-loader{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: .3;
            > div{
                height: 43px;
            }
        }
    }
    #close{
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        &:hover{
            opacity: .5;
        }
    }

    #delete-product{
        margin-top: 20px;
        width : 100%;
        
    }
}


#menu-status {
    ul {
        li {
            @include arabsettings();
        }
    }
}



@media screen and (max-width : 680px){
   
    #products-list .product{
        max-width: 310px;
    }

    #user-products-page #filter-box { 
        margin-bottom: 40px;
    }
    #user-products-page #add-products{
        padding: 10px 5px;
    }
}

@media screen and (max-width : 480px){
    #user-products-page #filter-box .filter, #user-products-page #filter-box .per-page {
        width : 100%;
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
        > div{
            width : 100%;
        }
    }
    #user-products-page #filter-box{
        margin-bottom: 10px;
    }    

    #user-products-page #shop-products-count{
        font-size: 16px;
    }

    #user-products-page #shop-products-count small{
        font-size: 15px;
        top: -2px;
    }
}