#edit-modal-container {
    .edit-modal-title {
        position: relative;
    }
    // Modal Loading
    #edit-modal-loading {
        width: 100%;
        position: absolute;
        bottom: -4px;
        left: 0;
    }
    
    .modal-button {
        text-align: right;
        button {
            margin-right: 15px;
            color: black;
            a {
                color:black;
            }
        }
    }
    .btn-close-modal {
        position: absolute;
        right: 15px;
        top:14px;
        min-width: auto;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        line-height: 20px;
        padding: 0;
        text-align: center;
    }
}