$icomoon-font-path: "fonts" !default;

$icon-ic_info_black_24px: "\e900";
$icon-ic_error_black_24px: "\e901";
$icon-audio: "\e92c";
$icon-image: "\e92b";
$icon-pdf: "\e92a";
$icon-video: "\e929";
$icon-ic_edit_black_24px: "\e927";
$icon-ic_visibility_black_24px: "\e924";
$icon-ic_delete_forever_black_24px: "\e926";
$icon-ic_remove_black_24px: "\e925";
$icon-ic_add_black_24px: "\e928";
$icon-ic_keyboard_arrow_down_black_24px: "\e923";
$icon-ic_keyboard_arrow_up_black_24px: "\e922";
$icon-ic_pause_black_24px: "\e920";
$icon-ic_play_arrow_black_24px: "\e91f";
$icon-ic_file_download_black_24px: "\e91d";
$icon-ic_file_upload_black_24px: "\e91e";
$icon-ic_indeterminate_check_box_black_24px: "\e91b";
$icon-ic_check_box_black_24px: "\e917";
$icon-ic_check_box_outline_blank_black_24px: "\e918";
$icon-ic_radio_button_checked_black_24px: "\e919";
$icon-ic_radio_button_unchecked_black_24px: "\e91a";
$icon-ic_close_black_24px: "\e916";
$icon--ic_add_to_photos_black_24px: "\e921";
$icon-ic_face_black_24px: "\e90b";
$icon-ic_folder_special_black_24px: "\e90c";
$icon-ic_fullscreen_black_24px: "\e90d";
$icon-ic_fullscreen_exit_black_24px: "\e91c";
$icon-ic_important_devices_black_24px: "\e90e";
$icon-ic_pause_circle_outline_black_24px: "\e90f";
$icon-ic_picture_as_pdf_black_24px: "\e910";
$icon-ic_play_circle_outline_black_24px: "\e911";
$icon-ic_queue_play_next_black_24px: "\e912";
$icon-ic_search_black_24px: "\e913";
$icon-ic_stop_black_24px: "\e914";
$icon-ic_video_library_black_24px: "\e915";

