#product-editable-image {
    .product-image {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #3f51b5;
        text-align: center;
        height: 100%;
        position: relative;
        padding: 100% 0 0 0;
        background-size: cover;
        background-position: center;
        .product-img-container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 95%;
            height: 95%;
            overflow: hidden;
            border: 5px;
            display: block;
            transform: translate(-50%, -50%);
            background-size: cover;
            background-position: top center;
            border-radius: 7px;
            img {
                display: none;
            }
        }
        .remove-image {
            color:#d35400;
            position: absolute;
            right:0px;
            top:-2px;
            cursor: pointer;
            opacity: 0.7;
            transition: .3s all;
            z-index: 1;
        }
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
        &:hover {
            .remove-image {
                opacity: 1;
            }
        }
    }
    .image-loading {
        animation: loadingFadeIn 1.5s infinite alternate;
    }
    .image-uploaded {
        animation-name: imageUploaded;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    } 
}

@keyframes loadingFadeIn { 
    0%   { opacity:1; }
    50%  { opacity:.3; }
    100% { opacity:1; }
}
@keyframes imageUploaded {
    0% {
        background-color: $success;
    }
    100% {
        background-color: #fff;
    }
}
    
