html[dir="rtl"]{

    body *{
        font-family: $font-ar;
        font-weight: 600;
    }

    #main-menu li a,
    #main-menu #connected-user,
    #main-menu li.logout button{
        text-align: right;
        font-weight: 600;
    }

    #validation-code-page #container{
        h4{
            text-align: right;
        }
    }

    #request-product-page {
        #uploading-loader {
            left: -40px;
            position: absolute;
            top: 18px;
        }
    }

    input, textarea{
        text-align: left;
        direction: ltr;
    }
    #user-products-page #filter-box .filter [role="button"]{
        text-align: right;
    }

    #main-menu li a{
        font-weight: 600;
    }
    #user-products-page #products-list .product .details .price{
        display: inline-block;
        direction: ltr;
        text-align: left;
    }
    #edit-product .edit-product-inner .price-box{
        text-align: left;
    }

    #menu-categories li{
        font-family: $font;
        text-align: left;
        direction: ltr;
    }

    #profile-page{
        .city-select{
            text-align: left;
        }
    }

    #profile-page .container-inner form #change-password{
        float: left;
    }

    #products-list .product .title, #user-products-page #products-list .product .details{
        direction: ltr;
        font-family: $font;
    }

    #user-products-page #products-list .product .details .price{
        font-family: $font;
    }

    #snackbar{
        direction: ltr;
        > div{
            > div:first-child{

            }
            > div:last-child{
                
            }
        }
    }

    #profile-page .container-inner.authorizations{
        fieldset{
            direction: ltr;
        }
    }

    #edit-product .edit-product-inner {

        #status, #fake, #bargain{
            direction: ltr;
            label{
                float: right;
            }
            .switch{
                float: left;
            }
        }

    }


    #edit-product #short-description .rdw-editor-wrapper{
        left : 0;
        right: -20px;
    }

    .modal-inner #delete-confirmation-loader{
        right : auto;
        left: 10px;
    }

     

 
    #request-product-page .container-inner .request-form-title{
        text-align: right
    }

    #request-product-page .upload-box {
        text-align: right;
    }

    #kibo-products-page #selected-category{
        direction: ltr;
    }

    #search-bar #search-input input{
        direction : rtl;
    }

    #user-products-page #shop-products-count {
        direction: rtl;
        small{
            margin-left: 0;
            margin-right: 5px;
            top: -1px;
        }
    }

    #main-menu li #goto-shop svg{
        right: auto;
        left: 10px;
    }

}

html[dir="ltr"]{

    #main-menu li.language button{
        font-family: $font-ar;
        font-weight: 600;
    }
    
}

/* CSS specific to iOS devices */ 
@supports (-webkit-overflow-scrolling: touch) {
    
    html[dir="rtl"]{

        body *{
            letter-spacing: -1px;
        }
    }
}

@media screen and (max-width: 480px){

    html[dir="rtl"]{

        #search-bar #search-input input {
            text-align: right;
        }

        #search-bar #search-hide {
            left: 6px;
            right: auto;
        }

        #search-bar #search-input input{
            padding : 15px 15px 15px 39px;
        }

        #search-loader{
            right: auto;
            left: 11px;
            top: 13px;
        }
    }

}