.title-2{
    font-size: 23px;
    letter-spacing: -.5px;
    line-height: 31px;
    padding-bottom: 6px;
    position: relative;
    &:after{
        content : "";
        position: absolute;
        height: 2px;
        background: $primary;
        bottom: -2px;
        left: 0;
        right: 0;
    }
}

p{
    line-height: 21px;
    color: $gray;
}
