#login-page{
    position: relative;
    min-height: 100vh;
    .loader{
        position: absolute;
        top : 30px;
        left: 50%;
        margin-left : -14px;
    }
}
#login-form{
    
    text-align: center;
    min-width: 300px;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    #paper{
        padding: 20px;
        width: 100%
    }
    #logo{
        display: inline-block;
        max-width: 120px;
        margin-bottom: 10px;
    }
    .action{
        padding-top: 10px;
    }

    #forgot-password{
        a{
            display: inline-block;
            padding: 17px 0 5px;
            color: $gray;
            cursor: pointer;
            &:hover{
                color : $black;
                text-decoration: underline;
            }
        }
    }

    #register-new-vendor{
        a{
            display: inline-block;
            padding: 10px 0;
            color: $gray;
            cursor: pointer;
            &:hover{
                color : $black;
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width : 480px){
    #login-form #logo {
        max-width: 100px;
    }
}