#add-product-page {
    .product-form {
        padding: 15px;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 200px;
        }
    }

    .paper-divider {
        margin: 15px 0 30px;
    }

}


.product-gallery {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    li {
        display: block;
        width: (100 / 3) * 1%;
        padding: 10px;
        height: 115px;
    }
    img {
        max-width: 100%;
    }
}


.product-tag {
    margin-right: 5px;
    margin-bottom: 5px;
}
.add-tag {
    padding: 15px 10px ;
}
.featured-image {
    width: 200px;
    height: 200px;
    margin:0 auto 25px;

}

.Mui-focused fieldset legend{
    margin-left: 10px;
}

.default-input {
    width: 100%;
    padding:15px; 
}

.panel-form {
    width: 100%;
    flex-wrap: wrap;
}
.default-wysiwyg {
    width: 100%;
}

.expansion-panel-container {
    margin-bottom: 30px;
}
     label.Mui-focused{
      color: 'green',
    } 
     .MuiInput-underline:after{
      border-bottom-color: 'green',
    } 
     .MuiOutlinedInput-root{
       fieldset{
        border-color: 'red',
      } 
      :hover fieldset{
        border-color: 'yellow',
      } 
      .Mui-focused fieldset{
        border-color: 'green',
      } 
    } 
// Common styles

// End Common styles

#product-product-loader{
    position: fixed;
    top: 7px;
    right: 6px;
    background: rgba(255, 255, 255, 0.788235294117647);
    border-radius: 50%;
    padding: 3px;
}


#products-bar{
    text-align: right;
    background: white;
    padding : 10px 0;
    margin : 0 10px 30px;
    .wrapper{
        @include clearfix();
    }
    #multiple-selection{
        float: right;
    }
    #duplicate-products{
        float: right;
        margin-right: 20px;
    }
}

#categories-layer-wrapper{
    position : relative;
}

#search-loader{
    svg{
        color: $primary;
    }
    position: absolute;
    top: 15px;
    right: 16px;
}
#search-not-found{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    transform: translateY(-50%)
}
#loading-categories{
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-style: italic;
    font-size: 14px;
    width: 100%;
    padding: 0 10px;
}

#categories-select{
    min-width: 250px;
    max-width: 30%;
    width: 100% !important;
    float: left;
    .count{
        font-size: 12px;
        color: #908e8e;
        display: inline-block;
    }
}

#menu-categories{
    min-height: 280px;
    background: white;
    position: relative;
    height: 280px;
    li{
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        svg{
            display: none;
        }
        &:hover{
            background: $gray-light;
        }
        &.lvl1{
            color: $secondary !important;
            font-weight: 500;
        }
        &.lvl2{
            padding-left: 40px !important;
            color: $gray-dark;
            font-weight: 500;
        }
        &.lvl3{
            padding-left: 60px !important;
            color: $gray;
            font-weight: 400;
        }
        &.current{
            background: #e0dfdc;
            color : $black;
            svg{
                position: absolute;
                top: 0;
                right: 10px;
                bottom: 0;
                margin: auto;
                display: block;
            }
        }
        .count{
            font-size: 12px;
            margin-left: 4px;
            font-weight: 400;
            display: inline-block;
        }
    }
    
}

#categories-layer{
    div:last-child {
        height: 85%;
    }
}



#kibo-products-page{

    #header{
        margin-bottom: 0;
    }

    .rc-pagination {
        margin-bottom: 10px;
    }
    #products-list{
        margin-bottom: 0;
        padding-bottom: 10px;
        + .rc-pagination {
            padding-bottom: 60px;
        }
    }
    #products-list-label{
        font-style: italic;
        font-size: 13px;
        padding: 1px 10px;
        background: $primary;
        text-align: center;
        color: #111;
        position: sticky;
        top: 60px;
        overflow: hidden;
        @include arabsettings(false,true);
        z-index: 10;
        &:after{
            content : '';
            position : absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background : linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 152, 0, 0.58), rgba(0, 0, 0, 0));
            transform : translateX(-100%);
            animation : loading 1.5s infinite;
        }
    }

    #container{
        position: relative;
        padding: 17px 0 0;
    }

    #list-actions{
        text-align: right;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        button {
            width: 100%;
            border-radius: 0;
            padding: 15px 10px
        }
        > span{
            display: block;
        }
    }

    #no-kibo-products{
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        font-style: italic;
        text-align: center;
        padding: 0 20px;
    }

    #kibo-products-loading{
        position: absolute;
        top : 50%;
        left: 0;
        right: 0;
        padding: 0 10px;
        transform: translateY(-50%);
        font-style: italic;
        text-align: center;
    }
    
    #categories-select{
        text-align: left;
    }

    #selected-category{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        text-transform: uppercase;
        line-height: 19px;
        padding: 0 10px;
        small{
            display: inline-block;
            margin-left: 5px;
            font-size: 14px;
            color: $gray;
            vertical-align: middle;
            position: relative;
            top: -1px;
        }
    }
}



@keyframes loading{
    from {
        transform : translateX(-100%)
    }
    to {
        transform : translateX(100%)
    }
}
  


@media screen and (max-width : 1024px){
    #products-list{
        .product{
            width: 170px;
        }
        &.few-products{
            .product{
                max-width: 170px;
            }
        }
    } 
}

@media screen and (max-width : 768px){
    #products-list .product.checkable:hover:before{
        border-color:rgba(96, 96, 96, 0.3);
    }
}

@media screen and (max-width : 715px){
    #products-list {
        &.few-products{
            .product{
                max-width: 150px;
            }
        }
        .product{
            width: 150px;
        }
    }
}


@media screen and (max-width : 680px){
    #kibo-products-page #products-list-label{
        top : 54px;
    }
}


@media screen and (max-width : 480px){

    #products-list{
        padding: 0 5px;
    }

    #kibo-products-page #list-actions button{
        padding: 10px;
    }

    #search-loader {
        top: 12px;
        right: 10px;
    }

    #kibo-products-page #selected-category{
        font-size: 16px;
    }

    #kibo-products-page #selected-category small{
        font-size: 12px;
    }
    
}
@media screen and (max-width : 380px){
    #products-list {
        
        &.few-products{
            .product{
                max-width: 146px;
            }
        }
        .product{
            width: 146px;
        }
    }
}

#user-products-page {

    .rc-pagination{
        margin-bottom: 53px;
    }

    #shop-products-count{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        text-transform: uppercase;
        padding: 0 10px;
        line-height: 19px;
        small{
            display: inline-block;
            margin-left: 5px;
            color: $secondary;
            vertical-align: middle;
            position: relative;
            top: -3px;
        }
    }

    #filter-box{
        margin-bottom: 20px;
        @include clearfix();
        .filter, .per-page{
            display : block;
            float: right;
            margin-left: 20px;
            [role="button"]{
                padding-top: 13px;
                padding-bottom: 13px;
            }
        }
        & + .rc-pagination {
            margin-bottom: 10px;
        }
    }
    #add-products{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 15px 5px;
        background: $primary;
        color: $black;
        width: 100%;
        border-radius: 0;
        // FIX BUG IN IOS
        overflow-x: hidden; 
        overflow-y: auto; 
        transform: translate3d(0,0,0);
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
    }

    #no-user-products{
        position: absolute;
        top : 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-style: italic;
        text-align: center;
        width: 100%;
    }
}

#edit-product{

    // > div:last-child{
    //     transform: none !important; // FIX POSITION FIXED
    // }

    .edit-product-inner{
        position: relative;
        // width: 300px;
        width: 100%;
        padding: 40px 20px 20px;
        &.short-desc-showen{
            height: 100%;
            overflow : hidden;
            #short-description{
                height : calc(100vh - 250px)
            }
            .visual img{
                width: auto;
                height: 130px;
            }
            #edit-product-loader{
                > div {
                    background: white;
                }
            }
        }
        #edit-product-loader{
            position: fixed;
            top: 7px;
            right: 6px;
            background: rgba(255, 255, 255, 0.788235294117647);
            border-radius: 50%;
            padding: 3px;
        }
        .visual{
            margin: 0 auto 20px;
            text-align: center;
            position: relative;
            max-width: 320px;
            .product-page-link{
                position: absolute;
                bottom : -10px;
                left: -10px;
                cursor: pointer;
                svg{
                    font-size: 25px;
                }
                // display: none;
            }
            img{
                width: 80%;
                display: inline-block;
            }
            &:hover{
                .product-page-link{
                    display: block;
                }
            }
        } 
        #status, #fake, #bargain{
            @include clearfix();
            label{
                float: left;
                line-height: 47px;
                font-style: italic;
                font-weight: 600;
                @include arabsettings(false);
            }
            .switch{
                float: right;
            }
        }
        .title{
            width : 100%;
        }


        .price-box{
            overflow: hidden;
            margin-bottom: 20px;
            > label{
                float: left;
                line-height: 22px;
                font-size: 13px;
                color : $gray;
                font-weight: 600;
            }

            .regular-price{
                width: 100%
            }
        }

       
    }
    #short-description{
        margin : 10px 0 20px;
        display: block;
        
        button{
            font-size : 13px;
            padding: 11px 10px 10px;
            width: 100%;
        }
        
        .rdw-editor-wrapper{
            margin-top: 15px;
            width: 299px;
            border: 1px solid #ddd;
            background: #eee;
            position: relative;
            height: 100%;
            left: -20px;
            .rdw-editor-main{
                padding: 0 10px;
                color: #222;
            }
            
            .rdw-option-wrapper{
                border : 1px solid #d6d6d6;
                padding: 8px;
                height: 28px;
                &.rdw-option-active{
                    border-color: #3F51B5;
                }
            }
        }
        
        #edit-short-description-loader{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: .3;
            > div{
                height: 43px;
            }
        }
    }
    #close{
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        &:hover{
            opacity: .5;
        }
    }

    #delete-product{
        margin-top: 20px;
        width : 100%;
        
    }
}


#menu-status {
    ul {
        li {
            @include arabsettings();
        }
    }
}



@media screen and (max-width : 680px){
   
    #products-list .product{
        max-width: 310px;
    }

    #user-products-page #filter-box { 
        margin-bottom: 40px;
    }
    #user-products-page #add-products{
        padding: 10px 5px;
    }
}

@media screen and (max-width : 480px){
    #user-products-page #filter-box .filter, #user-products-page #filter-box .per-page {
        width : 100%;
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
        > div{
            width : 100%;
        }
    }
    #user-products-page #filter-box{
        margin-bottom: 10px;
    }    

    #user-products-page #shop-products-count{
        font-size: 16px;
    }

    #user-products-page #shop-products-count small{
        font-size: 15px;
        top: -2px;
    }
}

.edit-product-image {
    max-width: 250px;
    height: 250px;
    margin: 15px auto;
}