html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  min-height: 100%;
  background: #f3f4f7; }

body {
  font-family: "Mada", sans-serif;
  font-size: 15px;
  line-height: 1;
  color: #333e48;
  min-height: 100%;
  overflow: auto !important;
  padding-right: 0 !important;
  padding-bottom: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch; }
  body.overflow-hidden {
    overflow: hidden !important; }

button, input, textarea, select {
  font-family: "Mada", sans-serif;
  font-size: 14px;
  outline: none; }

a {
  text-decoration: none; }

#layout {
  height: 100vh; }
  #layout .MuiPaper-elevation1, #layout .MuiPaper-elevation2 {
    box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075); }

#container {
  padding-bottom: 20px; }

#breadcrumb {
  font-size: 15px;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-top: 3px;
  font-family: "Mada", sans-serif;
  color: #606060; }
  #breadcrumb span {
    color: #858d92; }

.wrapper {
  padding: 0 10px;
  max-width: 100%;
  margin: 0 auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.editable-text {
  display: inline-block;
  vertical-align: top; }
  .editable-text > span {
    cursor: pointer;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 28px; }
    .editable-text > span.empty {
      color: #bfbfbf; }
  .editable-text input {
    border: none; }
  .editable-text > div > div:before {
    background-color: #ccc; }
  .editable-text > div > div:after {
    background-color: #27ae60; }
  .editable-text .input {
    width: 100%; }
    .editable-text .input.hide {
      display: none; }

.title-box {
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .title-box .editable-text {
    font-size: 24px; }
    .title-box .editable-text > span {
      line-height: 31px; }
    .title-box .editable-text input {
      font-size: 23px;
      min-width: 350px; }

#snackbar > div {
  background: #111;
  padding-right: 50px; }
  #snackbar > div #message-id {
    color: #f58a01;
    font-style: italic; }
  #snackbar > div button {
    position: absolute;
    top: 0;
    right: 8px; }

.rc-pagination {
  text-align: center;
  margin: 50px auto 70px; }
  .rc-pagination li {
    display: inline-block;
    margin: 0 3px;
    vertical-align: text-bottom;
    outline: none !important; }
    .rc-pagination li a {
      display: block;
      padding: 3px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      line-height: 28px;
      background: white;
      cursor: pointer;
      outline: none !important;
      transition: all .3s; }
    .rc-pagination li a:hover {
      background-color: #dadada; }
    .rc-pagination li.rc-pagination-item-active a {
      font-weight: 600;
      background: #FF5C4A;
      color: white; }
    .rc-pagination li.rc-pagination-prev a {
      position: relative; }
      .rc-pagination li.rc-pagination-prev a:before {
        content: "\2039";
        font-size: 22px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 31px;
        bottom: 0; }
    .rc-pagination li.rc-pagination-next a {
      position: relative; }
      .rc-pagination li.rc-pagination-next a:before {
        content: "\203A";
        font-size: 22px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 31px;
        bottom: 0; }
    .rc-pagination li.rc-pagination-disabled a {
      background: #dadada;
      cursor: not-allowed; }
    .rc-pagination li.rc-pagination-jump-next a, .rc-pagination li.rc-pagination-jump-prev a {
      position: relative; }
      .rc-pagination li.rc-pagination-jump-next a:before, .rc-pagination li.rc-pagination-jump-prev a:before {
        content: "...";
        font-size: 22px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 23px;
        bottom: 0; }

.hide-upload-input {
  display: none; }

.editorClassName {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  min-height: 150px;
  max-height: 250px;
  padding: 0 10px;
  height: auto; }

@media screen and (max-width: 959px) {
  #snackbar {
    top: 0 !important; }
    #snackbar > div button {
      right: 0; } }

.title-2 {
  font-size: 23px;
  letter-spacing: -.5px;
  line-height: 31px;
  padding-bottom: 6px;
  position: relative; }
  .title-2:after {
    content: "";
    position: absolute;
    height: 2px;
    background: #27ae60;
    bottom: -2px;
    left: 0;
    right: 0; }

p {
  line-height: 21px;
  color: #606060; }

.btn {
  font-weight: 700;
  line-height: 42px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 22px;
  background: #e7e7e7;
  transition: background .3s ease-out, color .3s ease-out;
  color: #333e48;
  font-size: 14px;
  border: none;
  cursor: pointer; }
  .btn:hover {
    background: #ffd800;
    color: white;
    transition: background .3s ease-out, color .3s ease-out; }
  .btn.primary {
    background: #27ae60; }
    .btn.primary:hover {
      background: #333e48;
      color: white;
      transition: background .3s ease-out, color .3s ease-out; }
  .btn.secondary {
    background: #ffd800;
    color: white; }
    .btn.secondary:hover {
      background: #333e48;
      color: white;
      transition: background .3s ease-out, color .3s ease-out; }

button.btn {
  line-height: 38px; }

.MuiButton-root.modal-button {
  position: absolute;
  top: 14px;
  right: 10px; }
  .MuiButton-root.modal-button a {
    color: inherit; }

#root #root-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
  z-index: 1; }
  #root #root-loader [role="progressbar"] {
    color: #333 !important; }

#header .loader {
  top: 15px;
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-left: -14px; }
  #header .loader.linear {
    top: auto;
    left: 0;
    right: 0;
    margin: 0;
    bottom: -3px; }

#main-footer {
  text-align: center;
  padding: 15px 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e7e7e7;
  background: white;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  z-index: 10;
  font-size: 12px; }
  #main-footer .MuiSvgIcon-root {
    color: #ff5c75;
    font-size: 10px; }
  #main-footer a {
    color: inherit; }

#header {
  border-bottom: 1px solid #e7e7e7;
  height: 60px;
  background: white;
  padding: 7px 0;
  position: sticky;
  top: 0;
  text-align: center;
  margin-bottom: 20px;
  z-index: 11; }
  #header #logo {
    display: inline-block;
    max-width: 90px;
    padding: 1px 0; }
    #header #logo img {
      width: 100%; }
  #header #menu-icon {
    color: #333;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%); }
  #header #filter-icon {
    color: #333;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); }
  #header #category-icon {
    color: #333;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%); }

#main-menu > div:last-child {
  width: 100%;
  max-width: 250px; }

#main-menu ul {
  padding: 0 !important;
  min-width: 250px; }

#main-menu #connected-user {
  padding: 6px 15px !important;
  display: block;
  background: #333;
  text-align: left;
  font-style: italic;
  cursor: default;
  font-size: 13px;
  color: white;
  width: 100%; }
  .kibo-lang-ar #main-menu #connected-user {
    text-align: right;
    font-family: "Cairo", sans-serif; }

#main-menu li {
  padding: 0 !important;
  height: auto !important; }
  #main-menu li a {
    color: #333;
    display: block;
    width: 100%;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 14px;
    position: relative; }
    #main-menu li a.selected {
      color: #333;
      background: #27ae60;
      cursor: default; }
  #main-menu li.logout {
    border-top: 1px solid #ccc;
    font-size: 15px; }
    #main-menu li.logout button {
      display: block;
      width: 100%;
      padding: 12px 40px;
      background: none;
      border: none;
      color: #f58a01;
      text-align: left;
      font-weight: 500;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase; }
      .kibo-lang-ar #main-menu li.logout button {
        text-align: right;
        font-family: "Cairo", sans-serif; }

@media screen and (max-width: 680px) {
  #header {
    height: 54px; }
    #header #menu-icon, #header #search-icon, #header #category-icon {
      padding: 6px; } }

@media screen and (max-width: 480px) {
  #header {
    margin-bottom: 10px; } }

#main-menu > div:last-child {
  width: 100%;
  max-width: 250px; }

#main-menu .MuiDrawer-paper {
  background-color: #242e3e;
  color: white;
  width: 250px; }

#main-menu ul {
  padding: 0 !important;
  min-width: 300px; }

#main-menu #connected-user {
  padding: 10px 20px !important;
  display: block;
  background: #FF5C4A;
  text-align: left;
  font-style: italic;
  cursor: default;
  font-size: 15px;
  color: white;
  width: 100%;
  height: 60px; }
  .kibo-lang-ar #main-menu #connected-user {
    text-align: right;
    font-family: "Cairo", sans-serif; }

#main-menu li {
  padding: 0 !important;
  height: auto !important; }
  #main-menu li a {
    display: block;
    width: 100%;
    padding: 15px 40px 15px 20px;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    color: #b5bdca; }
    #main-menu li a.selected {
      color: #fff;
      background: rgba(0, 0, 0, 0.08);
      cursor: default; }
    #main-menu li a:hover {
      color: white; }
  #main-menu li.logout {
    border-top: 1px solid #ccc;
    font-size: 15px; }
    #main-menu li.logout button {
      font-weight: bold;
      display: block;
      width: 100%;
      padding: 15px 40px 15px 20px;
      background: none;
      border: none;
      color: #b5bdca;
      text-align: left;
      font-weight: 500;
      cursor: pointer;
      font-size: 15px;
      text-transform: uppercase; }
      .kibo-lang-ar #main-menu li.logout button {
        text-align: right;
        font-family: "Cairo", sans-serif; }

.autocomplete-container {
  width: 100%;
  margin-bottom: 20px; }

#product-auto-complete .page-root {
  flex-grow: 1; }

#product-auto-complete .page-container {
  flex-grow: 1;
  position: 'relative'; }

#product-auto-complete .auto-complete-paper {
  position: 'absolute';
  z-index: 10;
  margin-top: 10px;
  left: 0;
  right: 0;
  width: '100%'; }

#product-auto-complete .auto-complete-chip {
  margin: 10px 15px; }

#product-auto-complete .auto-complete-input-root {
  flex-wrap: 'wrap'; }

#product-auto-complete .auto-complete-input {
  width: 'auto';
  flex-grow: 1; }

#product-auto-complete .divider {
  height: 20px; }

.upload-image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden; }
  .upload-image-holder .add-icon {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%); }
    .upload-image-holder .add-icon label {
      cursor: pointer; }

#product-form-container .product-form {
  position: relative;
  overflow: hidden; }
  #product-form-container .product-form .delete-product-btn {
    position: absolute;
    right: 15px;
    top: 7px; }

#product-form-container .form-control {
  margin: 10px;
  min-width: 120px;
  width: 100%; }

#product-form-container .chips {
  display: flex;
  flex-wrap: wrap; }

#product-form-container .product-tag {
  margin: 2px; }

#product-form-container .product-tag {
  margin-right: 5px;
  margin-bottom: 5px; }

#product-form-container .add-tag {
  padding: 15px 10px;
  text-align: center; }

#product-form-container #auto-complete-panel {
  position: relative;
  overflow: hidden; }

#product-form-container #auto-complete-loading, #product-form-container #product-image-loading {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

#edit-modal-container .edit-modal-title {
  position: relative; }

#edit-modal-container #edit-modal-loading {
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0; }

#edit-modal-container .modal-button {
  text-align: right; }
  #edit-modal-container .modal-button button {
    margin-right: 15px;
    color: black; }
    #edit-modal-container .modal-button button a {
      color: black; }

#edit-modal-container .btn-close-modal {
  position: absolute;
  right: 15px;
  top: 14px;
  min-width: auto;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 20px;
  padding: 0;
  text-align: center; }

#products-list {
  -ms-box-orient: horizontal;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-bottom: 10px;
  padding: 0 5px;
  /* blue bar */ }
  #products-list .product-item {
    width: 100%;
    max-width: 16.66667%;
    padding: 10px; }
  #products-list .product {
    background: white;
    text-align: center;
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    border: 0px;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    padding: 10px;
    box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
    border-radius: .25rem; }
    #products-list .product .product-action {
      width: 100%;
      overflow: hidden;
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 10px;
      transition: all .3s;
      z-index: 10;
      opacity: 0; }
      #products-list .product .product-action.active {
        opacity: 1; }
      #products-list .product .product-action .action-icon {
        padding: 5px 0 10px;
        float: right; }
        #products-list .product .product-action .action-icon button, #products-list .product .product-action .action-icon a, #products-list .product .product-action .action-icon .text-private {
          width: 100%;
          padding: 0;
          margin: 0;
          min-width: auto;
          height: 35px;
          width: 35px;
          align-items: center;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          background-color: white;
          color: inherit;
          text-decoration: none;
          border: 1px solid rgba(0, 0, 0, 0.1); }
        #products-list .product .product-action .action-icon svg {
          font-size: 23px; }
      #products-list .product .product-action .action-icon-preview {
        float: left; }
        #products-list .product .product-action .action-icon-preview svg {
          font-size: 18px; }
      #products-list .product .product-action .action-icon-edit {
        padding: 5px 10px 10px; }
        #products-list .product .product-action .action-icon-edit svg {
          font-size: 18px; }
      #products-list .product .product-action .action-icon-private .text-private {
        width: auto;
        border-radius: 20px;
        padding: 5px 8px;
        font-size: 13px; }
    #products-list .product:hover .product-action {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.01); }
    #products-list .product .product-info {
      min-height: 55px; }
    #products-list .product .no-thumbnail {
      text-align: center;
      padding: 100% 0  0 0;
      position: relative; }
      #products-list .product .no-thumbnail::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        display: block;
        transition: .3s all; }
      #products-list .product .no-thumbnail span {
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #products-list .product .thumbnail {
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;
      padding: 100% 0  0 0;
      background-size: cover;
      background-position: center; }
      #products-list .product .thumbnail::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        display: block;
        transition: .3s all; }
      #products-list .product .thumbnail.visual-loaded:after {
        display: none;
        animation: none; }
      #products-list .product .thumbnail .visual {
        width: 100%;
        margin: 0 auto;
        z-index: 2;
        font-size: 12px;
        display: none; }
      #products-list .product .thumbnail .mold {
        width: 100%;
        display: block;
        margin: 0 auto;
        display: none; }
    #products-list .product .product-img-container {
      position: relative;
      margin-bottom: 10px;
      border: 1px solid #eaecf1;
      border-radius: 5px;
      overflow: hidden; }
    #products-list .product .title {
      text-align: left;
      line-height: 15px;
      margin-bottom: 5px;
      color: #111;
      font-size: 15px;
      font-weight: 500;
      text-transform: capitalize; }
    #products-list .product .details {
      display: block;
      text-align: left; }
      #products-list .product .details.in-promo .price.regular {
        text-decoration: line-through;
        font-size: 15px;
        color: #aaaaaa;
        font-weight: 400; }
      #products-list .product .details.in-promo .price.promo {
        display: inline-block;
        text-decoration: none;
        font-size: 18px;
        color: #222222;
        font-weight: 700;
        margin-right: 10px; }
      #products-list .product .details .price {
        font-weight: 600;
        font-size: 15px;
        display: inline-block;
        letter-spacing: 0.03em; }
  #products-list .product-item-updated {
    animation-name: productUpdatedAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out; }
  #products-list .loading-animation {
    height: 100%;
    width: 100%;
    background: #f3f3f3;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0; }
    #products-list .loading-animation:after {
      content: '';
      top: 0;
      transform: translateX(100%);
      width: 100%;
      height: 220px;
      position: absolute;
      z-index: 1;
      animation: slide 1s infinite;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 );
      /* IE6-9 */ }

/* animation */
@keyframes slide {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }

.popover-links {
  display: block;
  padding: 10px;
  width: 150px; }
  .popover-links li {
    display: block;
    cursor: pointer; }
    .popover-links li a {
      font-size: 14px;
      padding: 5px;
      color: black;
      display: block;
      font-weight: 400;
      border-radius: 5px; }
      .popover-links li a:hover {
        background-color: rgba(255, 216, 0, 0.1); }
      .popover-links li a.danger {
        color: #cc0514; }

@keyframes productUpdatedAnimation {
  0% {
    background-color: #3eb99a; }
  100% {
    background-color: #fff; } }

#product-gallery-container {
  position: relative;
  overflow: hidden; }
  #product-gallery-container #product-gallery-loading {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

#product-tags {
  position: relative;
  overflow: hidden; }
  #product-tags #add-tag-loading {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

#add-category-form {
  overflow: hidden; }
  #add-category-form #add-category-loading {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

#product-editable-image .product-image {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #3f51b5;
  text-align: center;
  height: 100%;
  position: relative;
  padding: 100% 0 0 0;
  background-size: cover;
  background-position: center; }
  #product-editable-image .product-image .product-img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    overflow: hidden;
    border: 5px;
    display: block;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: top center;
    border-radius: 7px; }
    #product-editable-image .product-image .product-img-container img {
      display: none; }
  #product-editable-image .product-image .remove-image {
    color: #d35400;
    position: absolute;
    right: 0px;
    top: -2px;
    cursor: pointer;
    opacity: 0.7;
    transition: .3s all;
    z-index: 1; }
  #product-editable-image .product-image img {
    width: 100%;
    height: 100%;
    display: block; }
  #product-editable-image .product-image:hover .remove-image {
    opacity: 1; }

#product-editable-image .image-loading {
  animation: loadingFadeIn 1.5s infinite alternate; }

#product-editable-image .image-uploaded {
  animation-name: imageUploaded;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out; }

@keyframes loadingFadeIn {
  0% {
    opacity: 1; }
  50% {
    opacity: .3; }
  100% {
    opacity: 1; } }

@keyframes imageUploaded {
  0% {
    background-color: #3eb99a; }
  100% {
    background-color: #fff; } }

#delete-modal-confirmation #alert-dialog-description strong {
  font-weight: bold;
  color: #f58a01; }

#sidebar-categories > div:last-child {
  width: 100%;
  max-width: 250px; }

#sidebar-categories ul {
  padding: 0 !important;
  min-width: 250px; }

#sidebar-categories #sidebar-categories-title {
  padding: 6px 15px !important;
  display: block;
  background: #FF5C4A;
  cursor: default;
  font-size: 13px;
  color: white;
  width: 100%;
  font-weight: bold;
  height: 60px;
  line-height: 40px; }
  .kibo-lang-ar #sidebar-categories #sidebar-categories-title {
    text-align: right;
    font-family: "Cairo", sans-serif; }

#sidebar-categories li {
  padding: 0 !important;
  height: auto !important; }
  #sidebar-categories li a {
    color: #333;
    display: block;
    width: 100%;
    padding: 5px 40px;
    font-weight: 500;
    font-size: 14px;
    position: relative; }
    #sidebar-categories li a.selected {
      color: #333;
      background: #27ae60;
      cursor: default; }
  #sidebar-categories li.logout {
    border-top: 1px solid #ccc;
    font-size: 15px; }
    #sidebar-categories li.logout button {
      display: block;
      width: 100%;
      padding: 12px 40px;
      background: none;
      border: none;
      color: #f58a01;
      text-align: left;
      font-weight: 500;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase; }
      .kibo-lang-ar #sidebar-categories li.logout button {
        text-align: right;
        font-family: "Cairo", sans-serif; }

#login-page {
  position: relative;
  min-height: 100vh; }
  #login-page .loader {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -14px; }

#login-form {
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  #login-form #login-loader {
    width: 100%;
    position: absolute;
    top: 1px;
    left: 0;
    margin: 0;
    overflow: hidden; }
  #login-form #paper {
    padding: 20px;
    width: 100%;
    position: relative;
    overflow: hidden; }
  #login-form #logo {
    display: inline-block;
    max-width: 120px;
    margin-bottom: 10px; }
  #login-form .action {
    padding-top: 10px; }
  #login-form #forgot-password a {
    display: inline-block;
    padding: 17px 0 5px;
    color: #606060;
    cursor: pointer; }
    #login-form #forgot-password a:hover {
      color: #333;
      text-decoration: underline; }
  #login-form #register-new-vendor a {
    display: inline-block;
    padding: 10px 0;
    color: #606060;
    cursor: pointer; }
    #login-form #register-new-vendor a:hover {
      color: #333;
      text-decoration: underline; }

@media screen and (max-width: 480px) {
  #login-form #logo {
    max-width: 100px; } }

#add-product-page .product-form {
  padding: 15px;
  margin-bottom: 20px; }
  #add-product-page .product-form:last-of-type {
    margin-bottom: 200px; }

#add-product-page .paper-divider {
  margin: 15px 0 30px; }

.product-gallery {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px; }
  .product-gallery li {
    display: block;
    width: 33.33333%;
    padding: 10px;
    height: 115px; }
  .product-gallery img {
    max-width: 100%; }

.product-tag {
  margin-right: 5px;
  margin-bottom: 5px; }

.featured-image {
  width: 200px;
  height: 200px;
  margin: 0 auto 25px; }

.Mui-focused fieldset legend {
  margin-left: 10px; }

.default-input {
  width: 100%;
  padding: 15px; }

.panel-form {
  width: 100%;
  flex-wrap: wrap; }

.default-wysiwyg {
  width: 100%; }

.expansion-panel-container {
  margin-bottom: 30px; }

label.Mui-focused {
  color: "green"; }

.MuiInput-underline:after {
  border-bottom-color: "green"; }

.MuiOutlinedInput-root fieldset {
  border-color: "red"; }

.MuiOutlinedInput-root :hover fieldset {
  border-color: "yellow"; }

.MuiOutlinedInput-root .Mui-focused fieldset {
  border-color: "green"; }

@keyframes loading {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(100%); } }

@media screen and (max-width: 1024px) {
  #products-list .product-item {
    max-width: 25%; } }

@media screen and (max-width: 680px) {
  #products-list .product-item {
    max-width: 50%; } }

.dialog-upload-images .hide-default-upload {
  display: none; }

.dialog-upload-images .btn-icon {
  margin-left: 10px; }

.dialog-upload-images .header-icons {
  text-align: center; }

.dialog-upload-cover {
  direction: ltr !important; }
  .dialog-upload-cover .modal-app-bar {
    position: 'relative'; }
  .dialog-upload-cover .modal-btn-save {
    right: 25px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%); }
  .dialog-upload-cover .modal-btn-close {
    z-index: 6666; }
  .dialog-upload-cover .dialog-upload-form {
    padding-top: 85px;
    text-align: center; }
    .dialog-upload-cover .dialog-upload-form > div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      .dialog-upload-cover .dialog-upload-form > div .upload-button {
        min-width: 200px;
        height: 50px; }
        .dialog-upload-cover .dialog-upload-form > div .upload-button svg {
          margin-left: 10px; }
  .dialog-upload-cover .modal-btn-container {
    position: absolute;
    left: 70px; }
  .dialog-upload-cover .modal-btn-remove {
    margin: auto;
    color: #27ae60 !important;
    border: 1px solid #27ae60 !important; }

.dialog-crop-form {
  position: relative; }
  .dialog-crop-form .btn-remove-image {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    background-color: red;
    color: white;
    width: 60px;
    height: 60px;
    display: block;
    line-height: 60px; }

.hide-default-upload {
  display: none; }

#profile-page #header {
  margin-bottom: 0; }

#profile-page #shop-header-container.shop-header {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 80px;
  padding: 0;
  position: relative; }
  #profile-page #shop-header-container.shop-header .profile-cover-image {
    width: 100%;
    position: relative; }
    #profile-page #shop-header-container.shop-header .profile-cover-image img {
      max-width: 100%;
      display: block;
      margin: 0 auto; }
    #profile-page #shop-header-container.shop-header .profile-cover-image:hover .edit-upload-cover {
      opacity: 1; }
    #profile-page #shop-header-container.shop-header .profile-cover-image .edit-cover-button {
      color: #ffffff;
      border-color: white;
      padding: 10px 15px;
      background: rgba(0, 0, 0, 0.25); }
    #profile-page #shop-header-container.shop-header .profile-cover-image .edit-upload-cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
  #profile-page #shop-header-container.shop-header .image-bl {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 270px;
    background-color: rgba(206, 199, 176, 0.38); }
    #profile-page #shop-header-container.shop-header .image-bl img {
      display: none; }
  #profile-page #shop-header-container.shop-header .shop-brand {
    width: 200px;
    height: 200px;
    background-color: #e8e4d4;
    bottom: -50px;
    left: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    border-radius: 9px;
    border: 2px solid white;
    box-shadow: 0px 0px 2px 1px #635e5e;
    overflow: hidden; }
    #profile-page #shop-header-container.shop-header .shop-brand:hover .shop-brand-edit {
      opacity: 1; }
    #profile-page #shop-header-container.shop-header .shop-brand .shop-brand-edit {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center; }

#profile-page .hide-default-upload {
  display: none; }

#profile-page .site-container {
  background-color: red;
  max-width: 1200px; }

#profile-page #submit-change-password {
  float: right; }
  .kibo-lang-ar #profile-page #submit-change-password {
    text-align: right;
    font-family: "Cairo", sans-serif; }

#profile-page #success-password-change {
  color: #3eb99a;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  padding: 10px 0;
  clear: both; }
  .kibo-lang-ar #profile-page #success-password-change {
    text-align: right;
    font-family: "Cairo", sans-serif; }

#profile-page #container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px; }

.kibo-lang-ar #profile-page .user h4 {
  text-align: right;
  font-family: "Cairo", sans-serif; }

#profile-page .container-inner {
  padding: 20px;
  margin-bottom: 30px; }
  #profile-page .container-inner.shop, #profile-page .container-inner.authorizations, #profile-page .container-inner.shop-categories {
    margin-bottom: 40px; }
    .kibo-lang-ar #profile-page .container-inner.shop span, .kibo-lang-ar #profile-page .container-inner.authorizations span, .kibo-lang-ar #profile-page .container-inner.shop-categories span {
      text-align: right;
      font-family: "Cairo", sans-serif; }
  #profile-page .container-inner.shop-categories li span {
    direction: ltr !important;
    font-size: 15px; }
  #profile-page .container-inner h3 {
    font-weight: 500;
    margin-bottom: 30px; }
    .kibo-lang-ar #profile-page .container-inner h3 {
      text-align: right;
      font-family: "Cairo", sans-serif; }
  #profile-page .container-inner form:after {
    content: "";
    display: table;
    clear: both; }
  #profile-page .container-inner form #change-password {
    float: right;
    margin-top: 10px; }
    .kibo-lang-ar #profile-page .container-inner form #change-password {
      text-align: right;
      font-family: "Cairo", sans-serif; }
  #profile-page .container-inner form input:disabled {
    cursor: not-allowed; }
  #profile-page .container-inner form h4 {
    margin-bottom: 10px; }
    .kibo-lang-ar #profile-page .container-inner form h4 {
      text-align: right;
      font-family: "Cairo", sans-serif; }

#profile-page #profile-loading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-style: italic;
  text-align: center; }

#profile-page #email-not-valid {
  color: #f58a01;
  font-style: italic;
  display: block; }

#profile-page #helper-text {
  clear: both;
  font-size: 13px;
  font-style: italic;
  color: #ff2f00; }
  .kibo-lang-ar #profile-page #helper-text {
    text-align: right;
    font-family: "Cairo", sans-serif; }

#profile-page #change-password-panel {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 60px; }

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  padding: 0 15px;
  background: white; }

@media screen and (max-width: 680px) {
  #profile-page #shop-header-container.shop-header {
    margin-bottom: 40px; }
  #profile-page #shop-header-container.shop-header .shop-brand {
    width: 100px;
    height: 100px;
    bottom: -20px;
    left: 20px; }
    #profile-page #shop-header-container.shop-header .shop-brand .shop-brand-edit {
      opacity: 1 !important; }
  #profile-page #shop-header-container.shop-header .profile-cover-image .edit-upload-cover label {
    width: 100%;
    text-align: right;
    padding: 0 10px; }
  #profile-page #shop-header-container.shop-header .profile-cover-image .edit-upload-cover {
    opacity: 1 !important;
    padding-top: 12px;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0); }
    #profile-page #shop-header-container.shop-header .profile-cover-image .edit-upload-cover label {
      width: 100%; }
  #profile-page #shop-header-container.shop-header .profile-cover-image .edit-cover-button {
    background: rgba(0, 0, 0, 0.54); } }

@media screen and (max-width: 480px) {
  #profile-page .container-inner form h4 {
    font-size: 21px; }
  #profile-page #shop-header-container.shop-header .image-bl {
    height: 180px; }
  .dialog-upload-cover .modal-btn-save {
    right: 16px; }
  #validation-code-page .container-inner .action-box #response-msg {
    float: none;
    display: block;
    clear: both;
    padding-bottom: 15px;
    margin: 0;
    text-align: center; } }

#page-404 {
  min-height: 100vh; }
  #page-404 #logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90px; }
  #page-404 .not-found-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center; }
    #page-404 .not-found-inner > span {
      display: block;
      font-size: 200px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #27ae60;
      text-shadow: 3px 3px 0 #000; }
    #page-404 .not-found-inner p {
      font-size: 22px;
      margin-bottom: 30px;
      font-weight: 600;
      color: #333; }
